WindowsFormsApp2/Connected Services/CustomsDeclarationService40/CustomsDeclarationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomsDeclarationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.17.40:8001/WCF/CustomsDeclarationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.17.40:8001/WCF/CustomsDeclarationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomsDeclarationService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICustomsDeclarationService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomsDeclarationService_CustomsDeclarationQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomsDeclarationQuery" />
  </wsdl:message>
  <wsdl:message name="ICustomsDeclarationService_CustomsDeclarationQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomsDeclarationQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomsDeclarationService_getDeh_InputMessage">
    <wsdl:part name="parameters" element="tns:getDeh" />
  </wsdl:message>
  <wsdl:message name="ICustomsDeclarationService_getDeh_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDehResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomsDeclarationService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomsDeclarationService/DoWork" message="tns:ICustomsDeclarationService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomsDeclarationService/DoWorkResponse" message="tns:ICustomsDeclarationService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomsDeclarationQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomsDeclarationService/CustomsDeclarationQuery" message="tns:ICustomsDeclarationService_CustomsDeclarationQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomsDeclarationService/CustomsDeclarationQueryResponse" message="tns:ICustomsDeclarationService_CustomsDeclarationQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDeh">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomsDeclarationService/getDeh" message="tns:ICustomsDeclarationService_getDeh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomsDeclarationService/getDehResponse" message="tns:ICustomsDeclarationService_getDeh_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomsDeclarationService" type="tns:ICustomsDeclarationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICustomsDeclarationService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomsDeclarationQuery">
      <soap:operation soapAction="http://tempuri.org/ICustomsDeclarationService/CustomsDeclarationQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeh">
      <soap:operation soapAction="http://tempuri.org/ICustomsDeclarationService/getDeh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomsDeclarationService">
    <wsdl:port name="BasicHttpBinding_ICustomsDeclarationService" binding="tns:BasicHttpBinding_ICustomsDeclarationService">
      <soap:address location="http://192.168.17.40:8001/WCF/CustomsDeclarationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>